$primary: #243561;
$secondary: #1d93fe;
$success: rgb(97, 110, 143);
$white: #fff;
$light: rgba(246, 246, 246, 1);
$info: #929ab0;
$tertiary: rgb(154, 164, 215);
$focus-ring-width: 0rem;

@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

// header
header {
  margin-bottom: 0.9rem;
  position: relative;
}

.nav-logo {
  width: 186px;
  height: 41px;
}

.header-cta i {
  width: 42.5px;
  height: 42.5px;
}

.header-cta p:nth-of-type(1) {
  font-size: 14px;
}

.header-cta p:nth-of-type(2) {
  font-size: 22px;
}

// nav
.nav-section, .subscribe-container {
  position: relative;
}

.nav-sec, .subscribe-box {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  z-index: 10;
  transform: translateY(-50%);
}

.navv li {
  list-style: none;
  font-weight: 600;
  padding: 0;
  width: 100%;
}

.navv a {
  width: 100%;
  padding: 8px 4.8dvw;
  font-size: 14px;
  text-wrap: nowrap;
  text-decoration: none;
  display: block;
  background-color: $white;
  border: 0.1px solid $primary;
}

@media (max-width: 992px) {
  .navv a {
    padding: 8px 1rem;
  }
}

.navbar .dropdown-menu {
  margin: 0 auto;
  width: 96%;
  left: 0;
  right: 0;
  border-radius: 0;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

@media(max-width: 576px) {
  .collapse-bar {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3rem;
    width: 100%;
  }
}

.nav-dropdown {
  background: linear-gradient(to right, #e9ebef, #fff);
}

.navv .services img {
  width: 20px;
  height: 20px;
}

.navv h3 {
  font-size: 20px;
  font-weight: 700;
}

.nav-services .service-title {
  font-size: 14px;
  font-weight: 600;
}

.navv .service-desc, .why-sec .sub-desc {
  color: $success;
  font-weight: 500;
  font-size: 13px;
}

// hero section
.hero {
  background-color: $primary;
  height: 100dvh;
}

.hero-desc {
  width: 50%;
  font-size: 15px;
}

@media(max-width:998px) {
  .hero-desc {
    width: 100%;
  }
}

.hero-text {
  font-size: clamp(3.2rem, 6vh, 5rem);
}

// landing page welcome section
.welcome-sec .title, .services-sec .title, .why-sec .title, .blog-sec .title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.welcome-sec .desc {
  font-size: 14px;
}

.welcome-sec .sub-desc, .partners p {
  font-size: 14px;
  font-weight: 500;
  color: $success;
}

// landing page services section
.services-sec h4 {
  font-size: 18px;
  font-weight: 600;
}

.services-sec .service-desc {
  font-size: 14px;
  color: $success;
}

.services-sec .sub-desc {
  font-weight: 500;
  font-size: 16px;
}

// landing page why section
.why-box {
  box-shadow: 1px 2px 4px 1px #eae9e9;
}

//landing page process 
.process .title {
  font-size: 36px;
}

.process .sub-title {
  font-weight: 600;
  font-size: 16px;
}

.process .desc {
  font-size: 12px;
  font-weight: 500;
  color: rgba(36, 53, 97, 0.6);
}

.process img {
  position: absolute;
  bottom: -15%;
  height: 100%;
  width: 100%;
}

// landing page testimonials section
.sides {
  height: 85%;
}

.testimonials-sec .testi {
  font-size: 12px;
}

.testimonials .prof {
  margin-top: -1rem;
}

.testimonials-sec .client {
  font-size: 14px;
}

.testimonials i {
  font-size: 56px;
  color: #dadbdf;
}

// landing page book online section
.book-online .form-label {
  font-size: 13px;
  font-weight: 600;
}

.book-online .form-control {
  font-size: 13px;
  color: $primary;
}

// landing page blog section
.blog-sec {
  margin-bottom: 5rem;
}

.truck h4 {
  font-size: 20px;
}

.truck p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.blog-sec .blog-tag {
  font-size: 9px;
  font-weight: 600;
}

.blog-sec .blog-topic {
  font-size: 16px;
  font-weight: 600;
}

.blog-sec .blog-date {
  font-size: 13px;
}

// blog page
.blog-hero, .faq-hero, .contact-hero {
  height: 50dvh;
}

.blog-hero h1, .faq-hero h1, .contact-hero h1 {
  font-size: 60px;
  font-weight: 400;
}

.blog-page .blog-tag {
  font-size: 12px;
  font-weight: 500;
  padding: 3px;
}

.blog-page .blogger {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
}

.blog-page h5  {
  font-size: 20px;
  font-weight: 400;
}

.blog-page .topic-desc {
  font-size: 13.6px;
  font-weight: 400;
}

.blog-group-two {
  margin-bottom: 5rem;
}

.blog-group-two .read {
  position: absolute;
  right: 0;
  bottom: 0;
}

.blog-group-two .read a {
  text-decoration: none;
  font-size: 14px;
}

.blog-group-two .blog-tag {
  font-size: 13px;
}

.blog-group-two .topic {
  font-size: 18px;
}

// faq page
.faq-search {
  display: flex;
  justify-content: center;
}

.faq-search .input-group {
  flex-grow: 1;
  flex-basis: 60%;
  max-width: 580px;
}

.accordion-header button {
  font-size: 16px;
  font-weight: 600;
}

.accordion-body p {
  font-size: 15px;
  font-weight: 500;
  color: $success;
}

.page-number {
  margin-bottom: 5.3rem;
  font-size: 13px;
  font-weight: 500;
}

// contact page
.contact-hero p {
  max-width: 680px;
}

.contact-deets {
  margin-bottom: 6rem;
}

.contact-page .cta {
  font-size: 14px;
  font-weight: 500;
}

.contact-page .contact-info {
  font-size: 14px;
  font-weight: 600;
}

.contact-deets .form-control, .form-message, .form-check {
  box-shadow: 1px 2px 3px #dfdddd;
}

// footer
footer img {
  width: 80%;
  height: 100%;
}